{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "es6": true
  },
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "rules": {
    "no-use-before-define": [0],
    "global-require": [0],
    "import/no-unresolved": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "globals": {
    "require": false,
    "window": true,
    "it": true,
    "expect": true,
    "describe": true,
    "fetch": true,
    "FormData": true,
    "__DEV__": true,
    "navigator": true,
    "Blob": true
  }
}
